{% extends 'home.html' %}

{% block content %}

<div class="image-container mb-5">
    <div class="container">
        <div class="output ps-a mt-5 ml-5">
          <h2 class="detail-head">Details</h2>
            <p class="mt-5"><strong>Airline:</strong> {{ airline }}</p>
            <p><strong>Origin:</strong> {{ origin }}</p>
            <p><strong>Destination:</strong> {{ destination }}</p>
            <p><strong>No.of stops:</strong> {{ stopage }}</p>
            <p><strong>Departure Date:</strong> {{ departure }}</p>
            <p><strong>Arrival Date:</strong> {{ arrival }}</p>
        </div>
      </div>
      <h1 class="est-price">Estimated Price:</h1>
      <h1 class="text-primary pred-body"></h1>
      <a href="{{ url_for('main') }}" class="more-obj button genBtn">Try More →</a>
    <img width="100%" height="400px" src="{{ url_for('static', filename='img/gradient.jpg') }}">
</div>


<script src="{{ url_for('static', filename='js/anime.js') }}"></script>
{% endblock %}